<!DOCTYPE html>
<html lang="zh-CN" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>URead</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="view/index/index.css">
    <link rel="stylesheet" href="view/find/find.css">
    <link rel="stylesheet" href="view/record/record.css">
</head>

<body>
    <script src="js/device.js"></script>
    <header class="header clearfix">
        <div class="logo fl">
            <img src="images/URead.png" alt="URead">
        </div>
        <div class="user fr">
            <span class="id">Caimix</span>
            <span class="signout"></span>
        </div>
    </header>
    <aside class="aside fl" ng-controller="ctrl">
        <ul class="bar-ul">
            <li class="bar" ng-click="jump('/find')">
                <p class="bar-text"><span class="icon find"></span>发现</p>                
            </li>
            <li class="bar" ng-click="jump('/index')">
                <p class="bar-text current"><span class="icon book"></span>书城<span class="unfold fr" ng-click="toggle($event)"></span></p>                
                <ul class="classify">
                    <li>小说</li>
                    <li>成功励志</li>
                    <li class="current">经济管理</li>
                    <li>成功励志</li>
                    <li>成功励志</li>
                    <li>成功励志</li>
                    <li>成功励志</li>
                    <li>成功励志</li>
                </ul>
            </li>
            <li class="bar" ng-click="jump('/record')">
                <p class="bar-text"><span class="icon data"></span>数据</p>
            </li>
        </ul>
    </aside>
    <section class="container animate" ng-view></section>
    <script src="js/lib/jquery-3.2.1.js"></script>
    <script src="js/lib/angular.js"></script>
    <script src="js/lib/angular-route.js"></script>
    <script src="js/lib/angular-animate.js"></script>
    <script src="js/route.js"></script>
</body>

</html>