<h1 class="title">发现</h1>
<div class="write-place">
	<div class="recommend">
		<div class="recommend-pie">
			<div class="book">
				<img src="images/find_book.png" alt="发现">
			</div>
			<div class="text">人美也要多读书</div>
			<div class="find-btn">发现更多好书</div>
		</div>
		<p class="read-time">2017.09.15</p>
	</div>
	<div class="recommend">
		<div class="recommend-pie">
			<div class="book">
				<img src="images/find_book.png" alt="发现">
			</div>
			<div class="text">人美也要多读书</div>
			<div class="find-btn">发现更多好书</div>
		</div>
		<p class="read-time">2017.09.15</p>
	</div>
	<div class="recommend">
		<div class="recommend-pie">
			<div class="book">
				<img src="images/find_book.png" alt="发现">
			</div>
			<div class="text">人美也要多读书</div>
			<div class="find-btn">发现更多好书</div>
		</div>
		<p class="read-time">2017.09.15</p>
	</div>
	<div class="recommend">
		<div class="recommend-pie">
			<div class="book">
				<img src="images/find_book.png" alt="发现">
			</div>
			<div class="text">人美也要多读书</div>
			<div class="find-btn">发现更多好书</div>
		</div>
		<p class="read-time">2017.09.15</p>
	</div>
	<div class="recommend">
		<div class="recommend-pie">
			<div class="book">
				<img src="images/find_book.png" alt="发现">
			</div>
			<div class="text">人美也要多读书</div>
			<div class="find-btn">发现更多好书</div>
		</div>
		<p class="read-time">2017.09.15</p>
	</div>
	<div class="recommend">
		<div class="recommend-pie">
			<div class="book">
				<img src="images/find_book.png" alt="发现">
			</div>
			<div class="text">人美也要多读书</div>
			<div class="find-btn">发现更多好书</div>
		</div>
		<p class="read-time">2017.09.15</p>
	</div>
	<div class="recommend">
		<div class="recommend-add">
			<img src="images/add1.png" alt="">
		</div>		
	</div>
    <div class="add-group">
        <div class="add"></div>
        <div class="push">
            <h3 class="subtitle">上传卡片</h3>
            <div class="write">
                <textarea name="" id="" cols="30" rows="10" placeholder="输入文字..."></textarea>
            </div>
            <div class="submit">确认上传</div>
        </div>
    </div>
</div>