<h1 class="title">发现</h1>
<div class="write-place">
	<div class="recommend">
		<div class="recommend-pie">
			<div class="book">
				<img src="images/find_book.png" alt="发现">
			</div>
			<div class="text">人美也要多读书</div>
			<div class="find-btn">发现更多好书</div>
		</div>
		<p class="read-time">2017.09.15</p>
	</div>
	<div class="recommend">
		<div class="recommend-pie">
			<div class="book">
				<img src="images/find_book.png" alt="发现">
			</div>
			<div class="text">人美也要多读书</div>
			<div class="find-btn">发现更多好书</div>
		</div>
		<p class="read-time">2017.09.15</p>
	</div>
	<div class="recommend">
		<div class="recommend-pie">
			<div class="book">
				<img src="images/find_book.png" alt="发现">
			</div>
			<div class="text">人美也要多读书</div>
			<div class="find-btn">发现更多好书</div>
		</div>
		<p class="read-time">2017.09.15</p>
	</div>
	<div class="recommend">
		<div class="recommend-add">
			<img src="images/add1.png" alt="">
		</div>		
	</div>
    
</div>