<h1 class="title">数据</h1>
<div class="list-box">
    <div class="read">
        <h5 class="time">读书时间</h5>
        <div class="book">
            <img class="book-cover" src="images/bookcover.png" alt="封面">
            <p class="book-title">卖耳朵的小女孩</p>
            <p class="author">小女孩</p>
        </div>
        <div class="userinfo">
            <div class="read-doc">
                <img class="headshot" src="images/headshot.png" alt="头像">
                <p class="read-info">
                    <span>24分钟</span>
                    <span>1本书</span>
                </p>
            </div>
            <p class="userid">Caimix</p>
        </div>
    </div>
    <div class="read">
        <h5 class="time">读书时间</h5>
        <div class="book">
            <img class="book-cover" src="images/bookcover.png" alt="封面">
            <p class="book-title">卖耳朵的小女孩</p>
            <p class="author">小女孩</p>
        </div>
        <div class="userinfo">
            <div class="read-doc">
                <img class="headshot" src="images/headshot.png" alt="头像">
                <p class="read-info">
                    <span>24分钟</span>
                    <span>1本书</span>
                </p>
            </div>
            <p class="userid">Caimix</p>
        </div>
    </div>
    <div class="read">
        <h5 class="time">读书时间</h5>
        <div class="book">
            <img class="book-cover" src="images/bookcover.png" alt="封面">
            <p class="book-title">卖耳朵的小女孩</p>
            <p class="author">小女孩</p>
        </div>
        <div class="userinfo">
            <div class="read-doc">
                <img class="headshot" src="images/headshot.png" alt="头像">
                <p class="read-info">
                    <span>24分钟</span>
                    <span>1本书</span>
                </p>
            </div>
            <p class="userid">Caimix</p>
        </div>
    </div>
    <div class="read">
        <h5 class="time">读书时间</h5>
        <div class="book">
            <img class="book-cover" src="images/bookcover.png" alt="封面">
            <p class="book-title">卖耳朵的小女孩</p>
            <p class="author">小女孩</p>
        </div>
        <div class="userinfo">
            <div class="read-doc">
                <img class="headshot" src="images/headshot.png" alt="头像">
                <p class="read-info">
                    <span>24分钟</span>
                    <span>1本书</span>
                </p>
            </div>
            <p class="userid">Caimix</p>
        </div>
    </div>
</div>