<h1 class="title">网站数据</h1>
<div class="content">
    <ul class="filter">
        <li class="pie">书籍分类<span class="down"></span></li>
        <li class="pie">总点击量<span class="down"></span></li>
        <li class="pie">最近30天<span class="down"></span></li>
        <li class="pie">最近1周<span class="down"></span></li>
    </ul>
    <table class="table">
        <tr class="tr">
            <td><span class="spot"></span><span class="classify">小说</span>:</td>
            <td>200</td>
            <td>200</td>
            <td>200</td>
        </tr>
        <tr class="tr">
            <td><span class="spot"></span><span class="classify">成功励志</span>:</td>
            <td>200</td>
            <td>200</td>
            <td>200</td>
        </tr>
        <tr class="tr">
            <td><span class="spot"></span><span class="classify">经济管理</span>:</td>
            <td>200</td>
            <td>200</td>
            <td>200</td>
        </tr>
        <tr class="tr">
            <td><span class="spot"></span><span class="classify">互联网</span>:</td>
            <td>200</td>
            <td>200</td>
            <td>200</td>
        </tr>
        <tr class="tr">
            <td><span class="spot"></span><span class="classify">科学技术</span>:</td>
            <td>200</td>
            <td>200</td>
            <td>200</td>
        </tr>
        <tr class="tr">
            <td><span class="spot"></span><span class="classify">投资理财</span>:</td>
            <td>200</td>
            <td>200</td>
            <td>200</td>
        </tr>
        <tr class="tr">
            <td><span class="spot"></span><span class="classify">网络文学</span>:</td>
            <td>200</td>
            <td>200</td>
            <td>200</td>
        </tr>
        <tr class="tr">
            <td><span class="spot"></span><span class="classify">历史传记</span>:</td>
            <td>200</td>
            <td>200</td>
            <td>200</td>
        </tr>
        <tr class="tr">
            <td><span class="spot"></span><span class="classify">心理学</span>:</td>
            <td>200</td>
            <td>200</td>
            <td>200</td>
        </tr>
        <tr class="tr">
            <td><span class="spot"></span><span class="classify">文学艺术</span>:</td>
            <td>200</td>
            <td>200</td>
            <td>200</td>
        </tr>
        <tr class="tr">
            <td><span class="spot"></span><span class="classify">计算机</span>:</td>
            <td>200</td>
            <td>200</td>
            <td>200</td>
        </tr>
        <tr class="tr">
            <td><span class="spot"></span><span class="classify">教育</span>:</td>
            <td>200</td>
            <td>200</td>
            <td>200</td>
        </tr>
    </table>
</div>